@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --color-primary: var(--color-blue-600);
  --color-primary-dark: var(--color-blue-700);
  --color-primary-light: var(--color-blue-500);
}

body {
  background: var(--background);
  /* text-gray-200 */
  color: #e5e7eb;
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .card {
    @apply bg-[#001938] shadow-md rounded-lg p-6;
  }

  .card-validation-error {
    @apply bg-red-700 py-3 px-8 mt-2 shadow-md rounded-lg;
  }

  .button {
    background: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--foreground);
    transition: background 0.3s ease;

    &:hover,
    &:focus {
      background: var(--color-primary-dark);
      border-color: var(--color-primary-dark);
    }

    &:active {
      background: var(--color-primary-light);
      border-color: var(--color-primary-light);
    }

    /* also set the ring color */
    --tw-ring-color: rgba(var(--color-primary), --tw-ring-opacity);

    @apply px-4 py-2 rounded-md focus:outline-none focus:ring-2 border-2;
  }

  .button[disabled] {
    @apply bg-transparent opacity-50 cursor-not-allowed;
  }

  .icon-button {
    color: var(--color-primary);
    transition: color 0.2s ease;

    &:hover,
    &:focus {
      color: var(--color-primary-light);
    }
  }

  .icon-button-disabled {
    color: var(--color-primary-dark) !important;
    pointer-events: none;

    &:hover,
    &:focus {
      color: var(--color-primary-dark) !important;
    }
  }
}

.text-primary {
  color: var(--color-primary);
}

a {
  color: var(--color-primary);
  text-decoration: none;
  position: relative;
  padding: 0.25em 0;
  transition: color 0.2s ease;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(0.05em + 1px);
    background: currentColor;
    transform: scaleX(0.3);
    opacity: 0.5;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
    opacity: 1;
  }

  &:active {
    color: var(--color-primary);
  }
}
